@charset "utf-8";
body{background:#FAFAFA;}
.limit-banner{background:#FFF4D4;text-align:center;}
.limit-banner p{width:1190px;margin:0 auto;position:relative;}
.limit-banner p img{width:1190px;}
.limit-banner p .ExplainA{width:163px;height:33px;display:inline-block;bottom:0;right:66px;position:absolute;}
.auto-nav{height:67px;background:#FFD25A;border-bottom:3px solid #FF4B04;}
.auto-nav ul{width:980px;height:67px;margin:0 auto 0 auto;}
.auto-nav ul li{background:#EBE1CD;color:#CDA85D;width:25%;height:60px;line-height:60px;text-align:center;margin-top:7px;font-family: "alkatip";}
.auto-nav ul li.autoCur{background:#FF4B04;color:#fff;}
.auto-nav ul li em{color:#D0B887;font-size:24px;}
.auto-nav ul li.autoCur em{color:#FFD1BF;font-size:24px;}
.autoCon{width:980px;margin:20px auto 0;font-family: "alkatip";}
.showCon{width:980px;margin-bottom:15px;background:#FAFAFA;}
.showCon:after{content:"\0020";display:block;height:0;clear:both;}
.showCon .autolist{width:294px;padding:0 3px 3px 3px;float:left;background:#FFE59F;margin-right:40px;position:relative;margin-top:10px;}
.showCon .autolistCur{background:#FF4B04;}
.showCon .autolistEnd{background:#F00;}
.showCon .autolist-R{float:right;margin-right:0;}
.showCon .autolist .autolistC{background:#FFF;padding:0 19px;}
.showCon .autolist .autolistC p{padding:10px;}
.showCon .autolist .jxTime{font-family: "alkatip";}
.showCon .autolist .syTime{height:37px;padding-top:6px;line-height:31px;padding-left:86px;font-size:16px;font-family: "alkatip";}
.showCon .autolist .syTime span{width:20px;height:20px;background:url(http://skin.1yyg.com/images/auto_05.png?v=130228) -22px 0 no-repeat;display:inline-block;position:absolute;top:13px;_top:12px;left:60px;}
.showCon .autolist .syTime em{width:28px;height:31px;text-align:center;line-height:31px;font-size:20px;font-family: "alkatip";}
.showCon .autolist .AnnTime10 span{background:url(http://skin.1yyg.com/images/auto_06.gif?v=130228) 0 2px no-repeat;}
.showCon .autolistCur .AnnTime10 span{background:url(http://skin.1yyg.com/images/auto_05.gif?v=130228) 0 2px no-repeat;}
.showCon .autolistCur .syTime{color:#fff;}
.showCon .autolistEnd .syTimeEnd{height:37px;padding-top:6px;color:#FFFC00; background-color:#f00;font-family: "alkatip";}
.showCon .autolistEnd .Progress-bar p span{background:#B8B8B8;border:1px solid #B8B8B8;}
.showCon .pic a img{width:185px;height:185px;}
.showCon .pic{width:185px;height:185px;overflow:hidden;padding:9px 8px;}
.showCon .name{text-align:left;font-size:12px;padding:0;color:#000;}
.showCon .name a{height:24px;line-height:24px;color:#414141;display:block;overflow:hidden;}
.showCon .name a:hover{text-decoration:underline;color:#000;}
.showCon .money{padding:0 0 9px 0;font-family: "alkatip";}
.showCon .money .rmb{color:#f00;font-weight: 100;}
.showCon .money span{font-family: "alkatip";}
.showCon .ashowM{height:63px;text-align:center;padding-top:10px;}
.showCon .ashowM a{text-align:center;border-radius:3px;}
.showCon .ashowM a.nowBtn{background:#fc5a00;width:166px;height:43px;line-height:40px;color:#fff;font-size:24px;display:inline-block;}.showCon .ashowM a.nowBtnEnd{background:#F7F7F7;width:166px;height:43px;line-height:40px;color:#999;border:1px solid #CCC;font-size:24px;display:inline-block;}.listEndInfo .uInfo{font-family: "alkatip";}