blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}h1,h2,h3,h4,h5,h6{font-size:100%}address,cite,dfn,em,var{font-style:normal}code,kbd,pre,samp{font-family: "alkatip";vertical-align:middle}.tmsg .menu .tmsg_light-sign,.tmsg .menu .tmsg_logo{display:none}
body{background-color:#f2f2f2}#content{position:relative}.clearfix{*zoom:1}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.coin-layout{width:100%;position:relative}.coin-layout .coin-bg{width:100%;height:441px;position:absolute;top:0;z-index:100}.coin-layout .coin-wrapper{*zoom:1;width:1190px;margin:0 auto 20px;position:relative;top:0;z-index:110}.coin-layout .coin-wrapper:before,.coin-layout .coin-wrapper:after{content:" ";display:table}.coin-layout .coin-wrapper:after{clear:both}.coin-layout .main-wrap{width:1000px;display:inline;float:right}.coin-layout .side-bar{width:170px;margin-right:20px;display:inline;float:left}.cate-mod{width:170px}.cate-mod .cate-wrapper{height:auto;margin-bottom:15px;border-left:#de2c00 solid 1px;border-right:#de2c00 solid 1px;border-bottom:#de2c00 solid 1px}.cate-mod .cate-wrapper .hot-hd{height:50px;line-height:55px;text-align:center;background:url(http://gtms03.alicdn.com/tps/i3/TB1MrmqGXXXXXXhaXXXyLpdHXXX-170-32.png) 0 -12px no-repeat #d32602}.cate-mod .cate-wrapper .hot-hd a{color:#FFF;font-size:18px;font-family: "alkatip";background-image:none}
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/***********导航***************/
.site-nav .site-nav-bd {
  width: 1190px; }

#header {
  width: 100%;
  background: #fff;
  border-bottom: #F40 solid 3px; }
  #header .header-nav-bd {
    width: 1190px;
    height: 80px;
    margin: 0 auto;
    background: #fff; }
  #header .h-logo {
    width: 190px;
    height: 46px;
    padding-top: 15px;
    float: left;
    margin-right: 10px; }
    #header .h-logo a {
      display: block;
      width: 190px;
      height: 58px;
      margin-top: 3px; }
  #header .h-nav {
    height: 80px;
    margin-left: 10px;
    /*导航*/ }
    #header .h-nav .main-nav {
      margin-top: 35px;
      float: left;
      margin-left: 320px;
      _display: inline; }
    #header .h-nav .sub-nav {
      margin-top: 35px;
      float: right; }
    #header .h-nav .menu {
      float: left;
      position: relative;
      _display: inline;
      margin-right: 15px;
      position: relative;
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white; }
      #header .h-nav .menu .item {
        padding: 3px 10px;
        display: block;
        color: #666;
        font-size: 16px;
        height: 26px;
        font-family: "alkatip";
        text-align: center; }
      #header .h-nav .menu .happy {
        width: 90px;
        padding-left: 0;
        padding-right: 0; }
      #header .h-nav .menu .seller {
        padding-left: 25px;
        background: url("http://gtms02.alicdn.com/tps/i2/TB1k2XCGXXXXXaEXXXXzkxHFVXX-26-81.png") no-repeat 0 0;
        background-position: 2px -1px; }
        #header .h-nav .menu .seller:hover {
          background-position: 0px -52px; }
      #header .h-nav .menu .tips {
        position: absolute;
        top: -26px;
        right: -131px;
        z-index: 100; }
    #header .h-nav .menu:hover .item {
      color: #fe4400; }
    #header .h-nav .menu:hover .seller {
      background-position: 0px -52px; }
    #header .h-nav .menu.current .item {
      color: #fe4400; }
    #header .h-nav .menu.current .seller {
      background-position: 0px -52px; }
    #header .h-nav .hassub:hover {
      border-top: 1px solid #e2e2e2;
      border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      background: white; }
      #header .h-nav .hassub:hover .sub-menu {
        display: block; }
    #header .h-nav .sub-menu {
      background: white;
      border-left: 1px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      padding-top: 15px;
      padding-bottom: 8px;
      position: absolute;
      z-index: 200;
      width: 90px;
      left: -1px;
      display: none; }
      #header .h-nav .sub-menu a {
        display: block;
        height: 23px;
        line-height: 23px;
        text-align: center;
        font-size: 14px;
        color: #6d6d6d;
        margin-bottom: 5px; }
        #header .h-nav .sub-menu a:hover {
          background: #e9e9e9;
          text-decoration: none; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #header {
    border-bottom: none; }

  .header-nav-bd {
    border-bottom: #F40 solid 3px; } }
.screen-1024 #header {
  border-bottom: none; }
.screen-1024 .header-nav-bd {
  border-bottom: #F40 solid 3px; }